<?xml version="1.0" ?>
<!--
/**
 * Copyright © ronangr1. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ronangr1\SystemConfigWhoDidThisLogger\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ronangr1\SystemConfigWhoDidThisLogger\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">systemConfigChangesLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ronangr1\SystemConfigWhoDidThisLogger\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
