<?xml version="1.0" ?>
<!--
/**
 * Copyright © ronangr1. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_save">
        <observer instance="Ronangr1\SystemConfigWhoDidThisLogger\Observer\Adminhtml\SystemConfigSave" name="ronangr1_admin_system_config_save"/>
    </event>
</config>
